/* General */
.dropdown .dropbtn {
  color: #fe9900;
}

.heading-container {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.author-container,
.comic-container {
  padding: 20px;
  width: 100%;
}

.author,
.comic {
  margin-bottom: 30px;
  display: flex;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.author h2,
.comic h2 {
  margin: 10px;
  padding: 5px;
}
.author p,
.comic p {
  margin: 10px;
  margin-right: 0px;
  text-align: justify;
  width: 75%;
}

.author img,
.comic img {
  border-radius: 15px;
  display: flex;
  justify-content: center;

  width: 30%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .author,
  .comic {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .author img,
  .comic img {
    width: 100%;
    height: auto;
  }

  .author h2,
  .comic h2 {
    padding: 0;
  }

  .author-container,
  .comic-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .author p,
  .comic p {
    width: 90%;
  }
}
